.infoCard {
    border: 2px solid white;
    border-radius: 7px;
    float: right;
    padding: 10px;
    background-color: rgb(36, 35, 35);
    margin-bottom: 30px;
    transition: 0.4s;
}

.infoCard:hover {
    background-color: rgb(50, 50, 50);
}

#starlinkIMG {
    width: 200px;
    transition: 0.3s;
}

#starlinkIMG:hover {
    filter: brightness(0.7);
}

/* innentől nem muszáj a merge csak szerintem jól néz ki */
.IMG300 {
    transition: 0.4s;
}

.IMG300:hover {
    scale: 1.1;
}