#marsNumberStatsFlex {
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5rem;
    padding: 5rem;
    clear: both;
}

#marsNumberStatsFlex > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.tourism-number {
    font-size: 5rem;
}

.tourism-text {
    font-size: 1.5rem;
}

.uppercase {
    text-transform: uppercase;
}